.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #1e3a8a;
  border-radius: 50%;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
  color: white;
}

.carousel-indicators [data-bs-target] {
  background-color: #1e3a8a;
}

.carousel-indicators .active {
  background-color: #0c254b;
}
